<?xml version="1.0"?>
<config>    
  <sections>
    <payment>
      <groups>
        <kushkipayment translate="label" module="kushkipayment">
          <label>Kushki</label>
          <sort_order>1000</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>1</sort_order>
            </title>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>2</sort_order>
            </active>
            <order_status translate="label">
              <label>New order status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
            </order_status>   
            <testing translate="label">
              <label>Enable Test Mode</label>              
              <frontend_type>select</frontend_type>                                                                     
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>4</sort_order>
            </testing>  
            <commercepublic translate="label">
              <label>Merchant Public ID</label>
              <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>5</sort_order>
            </commercepublic>   
            <commerceprivate translate="label">
              <label>Merchant Private ID</label>
              <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
              <frontend_type>obscure</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>6</sort_order>
            </commerceprivate>
            <taxSettings translate="label">
              <label>Tax Settings</label>
              <frontend_type>label</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>Set the current defined name for each tax on the Magento Tax Settings.</comment>
              <sort_order>7</sort_order>
            </taxSettings>
            <taxiva translate="label">
              <label>IVA</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>8</sort_order>
            </taxiva>
            <taxice translate="label">
              <label>ICE</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>9</sort_order>
              <tooltip>Just apply to Ecuador</tooltip>
            </taxice>
            <taxpropina translate="label">
              <label>PROPINA</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>10</sort_order>
              <tooltip>Just apply to Colombia</tooltip>
            </taxpropina>
            <taxaeroportuaria translate="label">
              <label>TASA AEROPORTUARIA</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>11</sort_order>
              <tooltip>Just apply to Colombia</tooltip>
            </taxaeroportuaria>
            <taxagenciadeviaje translate="label">
              <label>AGENCIA DE VIAJE</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>12</sort_order>
              <tooltip>Just apply to Colombia</tooltip>
            </taxagenciadeviaje>
            <taxiac translate="label">
              <label>IAC</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>13</sort_order>
              <tooltip>Just apply to Colombia</tooltip>
            </taxiac>
          </fields>
        </kushkipayment>
      </groups>
    </payment>
  </sections>
</config>